@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,100,300italic,300,100italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic);


$dark-color:#404040;
$gray-color:#E7E7E7;
$red-color:#E92526;
$grayd-color:#828282;

$main-font: 'Neucha', cursive;
$sec-font: 'Roboto', sans-serif;

body{
	min-width: 360px;
	font-family: $main-font;
	color: $gray-color;
	header{
		background: $dark-color;
		.row{
			.position{
				color: $red-color;
				font-family: $main-font;
				font-size: 22px;
				font-weight: 400;
				display: block;
				
					p{
						margin-top:20px;
						color: $gray-color;
					}
			}
			.logo{
				display: block;
			}
			.photo{
				width: 100%;
				margin: 20px 0px;
				display: inline-block;
				border-radius:50%;
				border: 1px solid $red-color;
			}
			.circlelife{
				padding:10px 10px;
			}
			.about{
				display: inline-block;
				padding-top: 40px;
			}
		}
	}
	.contact{
		font-family: $sec-font;
		background: $gray-color;
		color: $red-color;
		font-size: 20px;
		ul{
			li{
				color: $dark-color;
				list-style: none;
				display: block;
				i{
					font-size:20px;
					margin-right: 20px;
					color: $red-color;
				}
				a{
					color: $dark-color;
					&:hover{
						text-shadow: 0px  0px 10px  $red-color;
						color: $dark-color;
						}
				}
				}
			}
		}
		.contactme{
			font-size:25px;
			font-weight: 600;
			padding: 0px 20px;
			margin: 20px 0px;
			background: $dark-color;
			border-radius:20px;
			i{
				margin-left: 10px;
			}
		}
		.profile{
			border-radius:20px;
			font-size:25px;
			font-weight: 600;
			padding: 0px 20px;
			margin: 20px 0px;
			background: $dark-color;
			i{
				margin-left: 10px;
			}
		}
		.education{
			border-radius:20px;
			font-size:25px;
			font-weight: 600;
			padding: 0px 20px;
			margin: 20px 0px;
			background: $dark-color;
			i{
				margin-left: 10px;
			}
			
		}
		ul{
				li{
					p{
						font-size:15px;
					}
				}
			}
.work{
	background: $dark-color;
	h3{
		background: $gray-color;
		border-radius:20px;
		font-weight: 600;
		color: $red-color;
		font-family: $sec-font;
		font-size: 25px;
		font-weight: 600;
		padding: 0px 20px;
		margin: 20px 0px;
		i{
			padding-left:10px;
		}
	}
	ul{
		list-style:none;
		li{
			font-family: $sec-font;
			font-size: 20px;
			i{

				color: $red-color;
				padding-right:20px;
			}
			p{
				font-size:15px;
			}
		}
	}
}
		.desire{
	background: $gray-color;
			h3{
				background: $dark-color;
				border-radius:20px;
				font-weight: 600;
				color: $red-color;
				font-family: $sec-font;
				font-size: 25px;
				font-weight: 600;
				padding: 0px 20px;
				margin: 20px 0px;
				i{
			padding-left:10px;
		}
				}
				ul{
					list-style:none;
					li{
						font-family: $sec-font;
						color: $dark-color;
						font-size: 20px;
						i{
							color: $red-color;
							padding-right:20px;
						}
					}
				}
			}
	}

